*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 15px 170px;
    width: 100%;
    height: auto;
    background-color: #45459a;
    border-bottom: 2px dashed #1a1a4e;
}
.logoContainer{
    display: flex;
}
.logoContainer .iconDiv{
    display: flex;
    align-items: center;
    margin-right: 25px;
    color: #fbebff;
    font-size: 50px;
}
.logoContainer .textDiv h2{
    display: flex;
    align-items: center;
    color: #fbebff;
    font-size: 40px;
}
.navigation{
    width: 450px;
}
.navigation ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navigation a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fbebff;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
}
.navigation a:hover{
    text-shadow: 2px 2px 2px #de65ff;
}
.navigation a:active{
    color: #de65ff;
    text-shadow: 2px 2px 2px #de65ff;
}
.navigation ion-icon{
    margin-right: 10px;
}
.hero{
    display: flex;
    align-items: center;
    padding: 0px 170px;
    height: 100vh;
    background: #de65ff;
    background: radial-gradient(circle, #de65ff 0%, #6e6eff 100%);
}
.hero .heroTextDiv{
    padding: 30px;
    width: 600px;
    height: auto;
    background-color: #fbebff;
    color: #1a1a4e;
    border: 3px dashed #1a1a4e;
}
.hero .heroTextDiv h2{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
    font-weight: normal;
}
.hero .heroTextDiv h1{
    margin: 20px 0px;
    font-size: 60px;
}
.hero .heroTextDiv p{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
}
.hero .heroTextDiv button{
    margin-top: 50px;
    width: 200px;
    height: 30px;
    background-color: #6e6eff;
    color: #fbebff;
    border: 2px solid #45459a;
    border-radius: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
}
.hero .heroTextDiv button:hover{
    box-shadow: 3px 4px 5px #de65ff;
}
.hero .heroTextDiv button:active{
    color: #de65ff;
    background-color: #45459a;
    border-color: #1a1a4e;
}

.about{
}