*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #fbebff;
    color: #1a1a4e;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 15px 190px;
    width: 100%;
    height: auto;
    background-color: #45459a;
    border-bottom: 1px solid #1a1a4e;
}
.logoContainer{
    display: flex;
}
.logoContainer .iconDiv{
    display: flex;
    align-items: center;
    margin-right: 25px;
    color: #fbebff;
    font-size: 50px;
}
.logoContainer .textDiv h2{
    display: flex;
    align-items: center;
    color: #fbebff;
    font-size: 40px;
}
.navigation{
    width: 450px;
}
.navigation ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navigation a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fbebff;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
}
.navigation a:hover{
    text-shadow: 2px 2px 2px #de65ff;
}
.navigation a:active{
    color: #de65ff;
    text-shadow: 2px 2px 2px #de65ff;
}
.navigation ion-icon{
    margin-right: 10px;
}
.hero{
    display: flex;
    align-items: center;
    padding: 0px 190px;
    height: 100vh;
    background: #de65ff;
    background: radial-gradient(circle, #de65ff 0%, #6e6eff 100%);
    background-attachment: fixed;
    border-bottom: 1px solid #1a1a4e;
}
.hero .heroTextDiv{
    padding: 30px;
    width: 600px;
    height: auto;
    background-color: #fbebff;
    color: #1a1a4e;
    border: 2px dashed #1a1a4e;
}
.hero .heroTextDiv:hover{
    box-shadow: 0 0 20px #3d1a4e;
}
.hero .heroTextDiv h2{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
    font-weight: normal;
}
.hero .heroTextDiv h1{
    margin: 20px 0px;
    font-size: 60px;
}
.hero .heroTextDiv p{
    line-height: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
}
.hero .heroTextDiv button{
    margin-top: 50px;
    width: 200px;
    height: 30px;
    background-color: #6e6eff;
    color: #fbebff;
    border: 2px solid #45459a;
    border-radius: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
}
.hero .heroTextDiv button:hover{
    box-shadow: 3px 4px 5px #de65ff;
}
.hero .heroTextDiv button:active{
    color: #de65ff;
    background-color: #45459a;
    border-color: #1a1a4e;
}

.about{
    padding: 70px 190px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1a1a4e;
}
.about .aboutImageDiv{
    width: 47%;
}
.about .aboutImageDiv img{
    width: 460px;
    height: auto;
    border: 1px solid #1a1a4e;
}
.about .aboutImageDiv img:hover{
    box-shadow: 0 0 20px #3d1a4e;
}
.about .aboutTextDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 47%;
}
.about .aboutTextDiv h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
}
.about .aboutTextDiv h2:after{
    display: block;
    content: "\00a0";
    margin: auto;
    margin-top: 15px;
    background-color: #de65ff;
    width: 300px;
    height: 4px;
}
.about .aboutTextDiv p{
    text-align: center;
    line-height: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
}